@model IEnumerable<Genre>
@{
    ViewData["Title"] = "GenreKiezen";
}

<p class="blauw"><k>Klik op het gewenste GENRE</k></p>
@foreach(var genre in Model)
{
    <a class="genrelijst" asp-action="Filmkeuze" asp-route-GenreId="@genre.GenreId">@genre.GenreNaam</a>
}

